@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}  

<div class="jumbotron">
    <h1>CX Compolet</h1>
    <p class="lead">Utilizzo del CX Compolet per comunicare con PLC Omron NJ</p>
    <p><a href="http://www.gidiautomazione.it" target="_blank" class="btn btn-primary btn-lg">GiDi Automazione &raquo;</a></p>
</div>

<div style="color: darkgrey; border: 2px solid gray;">

    @Ajax.ActionLink("Ricarica","GetMe", new AjaxOptions { UpdateTargetId = "Contatore250" })
    <div><div id="Contatore250"></div><p onclick="CountDownTick()" >Contatore Massimo : 250</p></div>



</div>